.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #124e8f;
}
.hed {
width: 100%;
height: 85px;
background-color: #404337;
border-bottom: 60em;
border-color: rgb(92, 116, 137);
position: fixed;
width:100%;
z-index: 1

 }
.ht{
    letter-spacing: 3px;
    text-shadow: 1.7px 1px 3px rgb(171, 230, 229);
    margin: 30px;
}
